.quote {
    padding: 1px 0 0 0;
    margin: 20px;
    text-align: left;

    width: 100%;
    max-width: 600px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: text-top;;

    background-color: #333;
    color: #CCC;

    transition: box-shadow 0.2s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.quote:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.quote .top-sec {
    padding: 9px 20px 5px 20px;
    color: #DDD; /* #111 */
}

.quote .number {
    color: #FF5252;
}

.quote .light {
    color: #999;
}

.quote .right {
    float: right
}

.quote a:link,
.quote a:visited,
.quote a:hover,
.quote a:active {
    text-decoration: none;
    color: red;
}


.quote pre {
    padding: 20px;
    padding-top: 3px;

    margin: 0;
    width: 100%;

    overflow-x: auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
